.dropdown {
    position: relative;
    width: 100%;
    color: var(--color-background);

    .box, .list {
        background: var(--color-white);
        border-radius: .5em;
        box-shadow: 0 .3em .4em 0 rgba(0, 0, 0, .1);
        z-index: var(--zindex-dropdown);
    }

    .box {
        display: flex;
        padding: 1em;

        align-items: center;

        cursor: pointer;

        p {
            flex: 1;
            margin: 0;
        }

        .arrow {
            background: url('/assets/icons/black-arrow.svg') center center no-repeat;
            background-size: contain;

            width: 1em;
            height: 1em;

            transform: rotate(-90deg);
        }
    }

    .list {
        display: none;

        position: absolute;
        left: 0;
        top: calc(100% - .5em);

        flex-direction: column;

        width: 100%;
        height: auto;

        overflow: hidden;

        border-top-left-radius: 0;
        border-top-right-radius: 0;

        p {
            cursor: pointer;
            margin: 0;
            padding: .5em 1em;

            &:hover, &.selected {
                background: var(--color-orange);
                color: var(--color-white);
            }
        }
    }

    &.active {
        .box {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .arrow {
                transform: rotate(90deg);
            }
        }

        .list {
            display: flex;
        }
    }

    &[color="dark"] {
        color: var(--color-white);

        .box, .list {
            background: #333333;   
        }

        .box {
            .arrow {
                filter: invert(100%);
            }
        }
    }
}