.price {
    display: flex;
    align-items: center;

    flex-direction: column;

    .main-price {
        display: flex;

        p {
            display: inline-flex;
            align-items: flex-end;

            font-family: var(--font-avant);
            margin: 0;

            &:first-child {
                font-size: 1.5em;
                margin-right: .2em;
            }

            &:last-child {
                font-size: 1em;
                line-height: 1.8em;
            }
        }
    }

    .discount {
        display: flex;
        justify-content: space-between;

        p {
            display: inline-flex;
            align-items: center;

            margin: 0;

            font-size: 1em;
            line-height: 1.5em;

            &:first-child {
                text-decoration: line-through;
                margin-right: .3em;
            }

            &:last-child {
                color: var(--color-white);
                background: var(--color-orange);

                padding: 0 .3em;
                font-size: .9em;

                font-weight: bold;
            }
        }
    }
}