section.product-slider {
    padding: 4em 0 5em 0;
    background: var(--color-white);
    display: flex;
    position: relative;


    .controls {
        .arrows {
            .arrow {
                position: absolute;
                display: flex;

                opacity: .16;
                
                top: 50%;
                left: 3em;

                transform: translateY(-50%);

                cursor: pointer;

                align-items: center;
                align-content: center;

                width: 1.8em;
                height: 3em;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:hover {
                    opacity: .5;
                }

                &:last-child {
                    transform: scaleX(-1) translateY(-50%);
                    left: unset;
                    right: 3em;
                }
            }
        }

        .pills {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);

            display: inline-flex;
            align-items: center;
            justify-content: center;
            
            span {
                cursor: pointer;
                border-radius: 100%;
                margin-right: .7em;
                width: .5em;
                height: .5em;
                box-sizing: border-box;
                position: relative;
                overflow: hidden;

                background: rgba(#15262B, .16);

                &.active {
                    background: #FF3300;
                }

                &:last-child {
                    margin-right: unset;
                }
            }
        }
    }

    .slider-container {
        display: block;
        white-space: nowrap;
        align-items: center;

        flex: 1;

        // overflow but no scrollbar
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
        
        .item {
            display: inline-flex;
            width: 100%;
            vertical-align: top;
            height: 100%;

            .container {
                justify-content: center;

                .copy {
                    flex-basis: 35%;
                    min-width: 0;
                    flex-grow: 0;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    align-self: center;

                    padding: 0em 2em;

                    h4 {
                        font-family: var(--font-avant);
                        font-size: 2.6em;
                        white-space: break-spaces;
                        margin: 0;
                        padding: 0;
                    }

                    p.sub-title {
                        font-size: 1.2em;
                        white-space: break-spaces;

                        &.is-fat {
                            font-weight: 700;
                        }
                    }

                    .swatches {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            cursor: pointer;
                            border-radius: 100%;
                            margin-right: .4em;
                            width: 1.2em;
                            height: 1.2em;
                            box-sizing: border-box;
                            position: relative;
                            overflow: hidden;

                            &:last-child {
                                margin-right: unset;
                            }

                            &.selected {
                                border: 2px solid var(--color-orange);

                                &:after {
                                    position: absolute;
                                    box-sizing: border-box;
    
                                    content: '';
    
                                    width: 100%;
                                    height: 100%;
                                    
                                    border-radius: 100%;
    
                                    top: 0;
                                    left: 0;
    
                                    border: 2px solid var(--color-white);
    
                                    z-index: 1;
                                }
                            }
                        }
                    }

                    .usps {
                        display: flex;
                        justify-content: space-between;

                        padding: 0 4em;

                        margin-top: 3em;

                        .usp {
                            display: flex;
                            flex-direction: column;
                            
                            align-items: center;

                            .icon {
                                width: 3em;
                                height: 3em;
    
                                background: var(--color-orange);
    
                                border-radius: 100%;
    
                                position: relative;
    
                                img {
                                    width: 1.5em;
                                    height: 1.5em;
    
                                    position: absolute;
    
                                    top: 50%;
                                    left: 50%;
    
                                    transform: translate(-50%, -50%);
                                }
                            }

                            p {
                                margin-top: 1em;
                                font-size: 1em;

                                max-width: 5em;

                                white-space: break-spaces;
                            }

                        }
                    }

                    .price {
                        margin-top: 2em;
                    }

                    .btn {
                        margin-top: 2em;

                        width: 15em;

                        align-self: center;
                    }
                }

                .image {
                    flex-basis: 60%;
                    display: flex;

                    margin-left: 5%;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
            
            @include mq($until: desktop) {
                .container {
                    display: flex;
                    flex-direction: column;

                    max-width: calc(100% - 12em);

                    
                    .copy, .image {
                        flex-basis: unset;
                    }

                    .copy {
                        .swatches {
                            font-size: 1.5em;
                        }

                        .usps {
                            padding: unset;
                        }
                    }

                    .image {
                        margin-top: 2em;
                        justify-content: center;
                        margin-left: unset;
                    }
                }
            }
        }
    }
}