section.subnav {
    padding: 0.8em 0;
    background: #F5F8F9;

    .slider {
        .arrow {
            width: 2em;
            height: 3em;

            padding: 0.6em 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:last-child {
                transform: scaleX(-1);
            }
        }

        .slider-container {
            .item {
                width: calc(100% / 5);

                @include mq($until: desktop) {
                    width: calc(100% / 4);
                }

                @include mq($until: tablet) {
                    width: calc(100% / 2);
                }

                cursor: pointer;

                img {
                    max-width: 4em;
                    max-height: 4em;

                    width: 100%;
                    height: 100%;
                }

                p {
                    position: relative;

                    font-family: var(--font-avant);
                    font-size: .7em;

                    margin: 0 0 0 1em;

                    &:after {
                        display: none;
                        content: '';
                        position: absolute;

                        bottom: -.3em;
                        left: 0;

                        width: 100%;
                        height: 2px;

                        background: var(--color-orange);
                    }
                }

                &:hover {
                    p {
                        color: var(--color-orange);

                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}