section.inspiration-gallery {
    padding: 4em 0;
    color: var(--color-white);

    .gallery {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-top: 4em;

        .controls {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .pagination {
                width: 50%;
            }

            .dropdown-container {
                width: 20em;
            }

            .tags {
                width: 100%;
                margin-top: 2em;
                align-items: center;

                .arrow {
                    width: 2em;
                    height: 3em;

                    img {
                        width: auto;
                        height: 1.5em;
                        object-fit: cover;
                        filter: invert(100%);
                    }

                    &:last-child {
                        transform: scaleX(-1);
                    }
                }

                .item {
                    display: inline-flex;
                    height: 3em;
                    width: auto;

                    position: relative;

                    background: #333333;
                    border-radius: 1.5em;

                    justify-content: center;
                    align-items: center;

                    margin: 0 1em 0 0;
                    
                    padding: 0 1.5em 0 1.5em;

                    cursor: pointer;

                    &:last-child {
                        margin-right: 0;
                    }

                    img.remove {
                        display: none;
                        position: absolute;

                        top: 50%;
                        right: .6em;

                        transform: translateY(-50%);

                        width: .7em;
                        height: .7em;
                        cursor: pointer;
                    }

                    &.selected {
                        background: var(--color-orange);
                        padding: 0 2em 0 1.5em;

                        cursor: default;

                        .remove {
                            display: block;
                        }
                    }
                }
            }
        }

        .products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            margin-top: 1.5em;

            .item {
                grid-column: span 1;
                grid-row: span 1;

                position: relative;

                img {
                    width: 100%;
                    display: flex;
                }

                .information {
                    display: none;

                    position: absolute;
                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    flex-direction: column;

                    justify-content: center;
                    align-items: center;

                    background: rgba(0, 0, 0, 0.6);

                    p {
                        text-align: center;
                        margin: 0;
                        margin-bottom: .6em;
                        font-weight: 700;

                        &.title {
                            font-size: 1.5em;
                        }
                    }

                    .btn {
                        font-size: .9em;
                    }
                }

                &:hover, &.show-information {
                    .information {
                        display: flex;
                    }
                }

                &.big {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }

            @include mq($until: desktop) {
                grid-template-columns: repeat(3, 1fr);

                .item {
                    &.big {
                        grid-column: span 2;
                        grid-row: span 2;
                    }
                }
            }

            @include mq($until: tablet) {
                grid-template-columns: repeat(2, 1fr);

                .item {
                    &.big {
                        grid-column: span 1;
                        grid-row: span 1;
                    }
                }
            }
        }

        .btn.load-more {
            margin-top: 2em;
            width: 15em;

            align-self: center;
        }
    }
}