section.product-comparison {
    background: var(--color-gray-10);
    padding: 4em 0;

    .products {
        display: flex;
        justify-content: space-evenly;

        width: 100%;

        .product {
            display: flex;
            flex-direction: column;
            
            align-items: center;

            img.product-image {
                width: 100%;
                object-fit: contain;
                margin-top: .5em;
                mix-blend-mode: multiply;
            }

            .swatches {
                margin-top: 1em;
                margin-bottom: 1.5em;
            }

            p.details {
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }

            .price {
                margin-top: 1.5em;
                font-size: .9em;
            }

            .btn {
                width: 100%;
                margin-top: 2em;
            }
        }

            
        @include mq($until: desktop) {
            flex-wrap: wrap;

            .product {
                width: calc(50% - 5em);
                margin-bottom: 5em;

                .swatches {
                    font-size: 1.2em;
                }

                .btn {
                    font-size: 1em;
                    max-width: 80%;
                }

                p.detail {
                    font-size: 1.4em;
                }
            }
        }
    }
}