.swatches {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    span {
        cursor: pointer;
        border-radius: 100%;
        margin-right: .4em;
        width: 1.2em;
        height: 1.2em;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        &:last-child {
            margin-right: unset;
        }

        &.selected {
            border: 2px solid var(--color-orange);

            &:after {
                position: absolute;
                box-sizing: border-box;

                content: '';

                width: 100%;
                height: 100%;
                
                border-radius: 100%;

                top: 0;
                left: 0;

                border: 2px solid var(--color-white);

                z-index: 1;
            }
        }
    }
}