button.btn {
    outline: 0;
    border: 0;

    background: var(--color-background);
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;

    width: auto;

    padding: 1em 2em;

    border-radius: 2em;
    font-size: 1rem;

    &[color="orange"] {
        background: var(--color-orange);
    }

    &[color="grey"] {
        background: #2C2C37;
    }

    &[size="big"] {
        font-size: 1.1rem;
    }
}