@font-face {
	font-family: 'Helvetica-Neue';
	font-weight: 400;
	font-style: normal;
	src: url('/assets/fonts/helvetica-neue.ttf');
}

@font-face {
	font-family: 'Helvetica-Neue';
	font-weight: 700;
	font-style: normal;
	src: url('/assets/fonts/helvetica-neue-bold.ttf');
}

@font-face {
	font-family: 'Helvetica-Neue';
	font-weight: 300;
	font-style: normal;
	src: url('/assets/fonts/helvetica-neue-light.otf');
}

@font-face {
	font-family: 'Helvetica-Neue';
	font-weight: 200;
	font-style: normal;
	src: url('/assets/fonts/helvetica-neue-ultra-light.ttf');
}

@font-face {
	font-family: 'Avant-Garde';
	font-weight: bold;
	font-style: normal;
	src: url('/assets/fonts/avant-garde-gothic-bold.ttf');
}