// https://github.com/hugeinc/flexboxgrid-sass
$grid-columns: 12;
$gutter-width: 1.875em;
$outer-margin: 2em;
    
$mobile: mq-px2em(map-get($default-breakpoints, mobile));
$tablet: mq-px2em(map-get($default-breakpoints, tablet));
$desktop: mq-px2em(map-get($default-breakpoints, desktop));
$wide: mq-px2em(map-get($default-breakpoints, wide));
$ultrawide: mq-px2em(map-get($default-breakpoints, wide));

$default-container-width: calc(100% - #{$outer-margin});

$breakpoints: mobile $mobile $default-container-width,
tablet $tablet $default-container-width,
desktop $desktop $default-container-width,
wide $wide $default-container-width;

$flexboxgrid-max-width: mq-px2em(1400px);

@import '~flexboxgrid-sass/flexboxgrid';

.container {
	box-sizing: border-box;
	max-width: $flexboxgrid-max-width;
	margin: 0 auto;

	&.is-flex {
		display: flex;
	}

	&.is-fluid {
		max-width: none;
	}
}
