hr {
    height: .25em;
    width: 100%;

    margin: 1em 0;

    background: var(--color-orange);

    border: 0;
    outline: 0;

    &[color="white"] {
        background: var(--color-white);
    }
}