.placeholder {
    display: flex;
    width: 100%;

    img {
        flex: 1;
        max-width:100%;
    }

    &.header {
        background: var(--color-white);
        box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.1);

        // position: sticky;
        // top: 0;
        
        z-index: var(--zindex-navigation);
    }
}