section {
    &.has-padding {    
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }

    &.has-background-white {
        background: var(--color-white);
    }
    
    .container.is-section {
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    h3 {
        font-family: var(--font-avant);
        font-size: 2.5em;

        margin: 0;
        padding: 0;
    }

    hr {
        width: 7.5em;
        margin: 2em 0 3em 0;
    }
}