:root {
    // section
    --section-padding: 2em;

    // fonts
    --font-helvetica: 'Helvetica-Neue';
    --font-avant: 'Avant-Garde';


    // colors
    --color-background: #111111;
    --color-white: #fff;
    --color-orange: #FF3300;
    --color-gray-10: #F5F8F9;
    --color-text: rgba(0, 0, 0, 0.87);

    // zindex
    --zindex-navigation: 1000;
    --zindex-video-section: 900;
    --zindex-dropdown: 900;
}


$default-breakpoints: (
    mobile: 320px,
	tablet: 740px,
	desktop: 980px,
	wide: 1300px,
    ultrawide: 1500px
);

// base
$default-desktop-scale: 16px;
$default-tablet-scale: 14px;
$default-mobile-scale: 12px;