@import './fonts';
@import './variables';

@import './mq';
@import './grid';

@import './placeholders';
@import './section';
@import './hr';
@import './button';

@import '../components';

body {
    display: flex;
    flex-direction: column;
    
    padding: 0;
    margin: 0;

    font-family: var(--font-helvetica);
    font-size: $default-desktop-scale;
    
    color: var(--color-text);
    
    background: var(--color-background);
}

@include mq($until: desktop) {
	body {
		font-size: $default-tablet-scale;
	}
}

@include mq($until: tablet) {
	body {
		font-size: $default-mobile-scale;
	}
}
