section.video {
    background: var(--color-gray-10);

    padding: 4.5em 0;

    // C5ADAD
    box-shadow: 0 0 5em 0 rgba(#C5ADAD, .7);
    z-index: var(--zindex-video-section);

    .container {
        align-items: center;
        justify-content: center;

        flex-direction: column;

        .video-container {
            position: relative;
            padding-top: 56.25%;
            height: 0;
            width: 100%;
            overflow: hidden;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}