section.specs-and-download {
    background: #111116;
    padding: 4em 0;
    color: var(--color-white);

    .information-header {
        margin-top: 4em;
        display: flex;
        width: 100%;

        align-items: center;

        h3.title {
            flex: 1;
        }

        .info {
            display: flex;
            align-self: flex-end;
            align-items: center;

            .specs {
                max-width: 12em;
                text-align: right;
                font-weight: 200;
                line-height: 1.5em;
                margin: 0;
            }

            .btn {
                display: flex;
                box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .6);

                padding: .8em 1.5em;

                border-radius: .5em;

                margin-left: 2em;

                img {
                    width: auto;
                    height: 100%;

                    object-fit: contain;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 1.5em;
                    margin-top: .2em;

                    align-items: flex-start;

                    p {
                        margin: 0;
                        font-weight: 200;

                        &.title {
                            font-size: 1em;
                        }

                        &.sub-title {
                            font-size: .8em;
                        }
                    }
                }
            }
        }

        @include mq($until: desktop) {
            flex-direction: column;

            h3.title, .info {
                align-self: flex-start;
            }

            .info {
                margin-top: 1em;
                flex-direction: row-reverse;

                .specs {
                    text-align: left;
                }

                .btn {
                    margin-left: unset;
                    margin-right: 2em;
                }
            }
        }
    }

    .details-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 4em;

        .item {
            display: flex;
            flex-direction: column;
            padding-bottom: 1em;

            h4.header {
                margin: 0;
                border-top: 1px solid var(--color-white);
                font-size: 1.5em;
                padding: .5em 0;
                cursor: pointer;
            }

            .content {
                display: flex;
                // height: 0;
                overflow: hidden;
                padding: 0 0;

                max-height: 0;

                table {
                    tr {
                        td {
                            padding: .5em 0;

                            &:first-child {
                                padding-right: 10em;
                            }
                        }
                    }
                }
            }

            &.active {
                .content {
                    max-height: unset;
                    overflow: unset;
                    padding: 1em 0;
                }
            }
        }
    }
}