section.banner {
    background: url('/assets/images/visual-boy.png') center center no-repeat;
    background-size: cover;

    padding: 1em 0em 10em 0em;

    &[type="girl"] {
        background-image: url('/assets/images/visual-girl.png');
    }

    ul.breadcrumbs {
        display: flex;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            color: var(--color-white);
            margin-right: .5em;

            &:after {
                content: '>';
                margin-left: .5em;
                color: var(--color-white);
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    .copy {
        margin-top: 8em;
        max-width: 80%;

        h1, h2 {
            color: var(--color-white);
            
            font-family: var(--font-avant);

            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 3.3em;
        }
        
        hr {
            width: 4em;
            margin: 1.5em 0;
        }

        .btn {
            margin-top: 3em;
            width: 15em;
        }
    }
}