.slider {
    display: flex;

    .arrow {
        display: flex;
        
        cursor: pointer;

        align-items: center;
        align-content: center;
    }

    .slider-container {
        display: block;
        white-space: nowrap;
        
        position: relative;
        
        align-items: center;

        flex: 1;

        // overflow but no scrollbar
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            display: inline-flex;

            align-items: center;
            justify-content: center;
        }
    }
}